.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #F2F2F3;
}
.iconWrapper {
    margin: 60px auto;
}
.textColorSecondary {
    color: #8585AD
}