.headerWrapper {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}
.flexBox {
    display: flex; 
    align-items: center;
    padding: 0;
}
.constructIcon {
    margin-right: 20px;
    color: #8585AD;
    text-decoration: none;
}
.colorPurple {
    color: #8585AD;
    text-decoration: none;
}
.activeLink {
    color: #fff;
}